:root {
  /* Primary Colors */
  --color-primary-50: #e2f2ff;
  --color-primary-100: #b9deff;
  --color-primary-200: #8acaff;
  --color-primary-300: #53b5ff;
  --color-primary-400: #1ba4ff;
  --color-primary-500: #0093ff;
  --color-primary-600: #0084ff;
  --color-primary-700: #0070f3;
  --color-primary-800: #115fe0;
  --color-primary-900: #1d3dc1;

  /* Interaction */
  --color-interaction-01: #1d3dc122;
  --color-interaction-02: #1d3dc144;
  --color-interaction-03: #1d3dc177;
  --color-interaction-04: #75757522;
  --color-interaction-05: #75757533;
  --color-interaction-06: #75757555;

  /* Gray shades */
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;
}
