@import url(../styles/globals.css);

.card-image {
  background-image: url(https://lh3.googleusercontent.com/m7mxuNd2lvEROCXUXLjV9mxyy6lc2A0NTxgh7K7KmGuYpO8N2ZhHL7_kbflMbutMNzWzDYs0jOTveCbH92ndNMKlQQ=w640-h400-e365-rj-sc0x00ffffff);
}
