.banner {
  background-color: var(--color-gray-900);
  grid-area: banner;
  padding: 0px 16px;
}

.banner__container {
  align-items: center;
  color: var(--color-gray-50);
  display: flex;
  height: 100%;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
}
