.blog-root {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 246px 1fr 80px;
  grid-template-areas: "banner" "header" "content" "footer";
}

.blog-header {
  background-color: black;
  display: flex;
  grid-area: header;
  justify-content: center;
  position: relative;
}

.blog-content {
  display: flex;
  grid-area: content;
  height: 100%;
  justify-content: center;
  padding: 32px;
}

.blog-content__text-container {
  max-width: 780px;
}
