.card {
  border-radius: var(--border-radius-md);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 256px;
  overflow: hidden;
  padding: 16px 20px;
  position: relative;
  width: 100%;
}

.card__container {
  color: #fff;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 1fr 1fr 1fr 1fr;
  grid-template-areas: "released" "title" "description" "author" "actions";
  height: 100%;
  left: 0;
  padding: 16px 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 6;
}

.card__released {
  color: var(--color-gray-300);
  grid-area: released;
}

.card__title {
  color: var(--color-gray-50);
  grid-area: title;
}

.card__description {
  color: var(--color-gray-300);
  grid-area: description;
}

.card__author {
  color: var(--color-gray-400);
  grid-area: author;
}

.card__actions {
  display: flex;
  grid-area: actions;
  justify-content: center;
}

.card__background-image {
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(20%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
