.card {
  position: relative;
  border-radius: var(--border-radius-md);
  padding: 16px 20px;
  width: 100%;
  height: 256px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 20px;
  color: #fff;
  z-index: 6;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 1fr 1fr 1fr 1fr;
  gap: 4px;
  grid-template-areas: "released" "title" "description" "author" "actions";
}

.card__released {
  grid-area: released;
  color: var(--color-gray-400);
}

.card__title {
  grid-area: title;
  color: var(--color-gray-50);
}

.card__description {
  grid-area: description;
  color: var(--color-gray-300);
}

.card__author {
  grid-area: author;
  color: var(--color-gray-400);
}

.card__actions {
  display: flex;
  grid-area: actions;
  justify-content: center;
}

.card__background-image {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(20%);
  width: 100%;
  height: 100%;
  z-index: 1;
}
