.footer {
  background-color: var(--color-gray-900);
  display: flex;
  grid-area: footer;
  justify-content: center;
  padding: 0px 16px;
}

.footer__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  max-width: 1600px;
  width: 100%;
}

.footer__about {
  color: var(--color-gray-400);
}

.footer__social {
  color: var(--color-gray-400);
  display: flex;
}
