.footer {
  display: flex;
  justify-content: center;
  background-color: var(--color-gray-900);
  grid-area: footer;
  padding: 0px 16px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1600px;
}

.footer__about {
  color: var(--color-gray-400);
}

.footer__social {
  display: flex;
  color: var(--color-gray-400);
}

.footer__social__button {
  font-size: 28px;
  color: var(--color-gray-300);
}
