.header {
  background-color: var(--color-gray-50);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  grid-area: header;
  padding: 0px 16px;
  z-index: 2;
}

.header__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.header__nav {
  display: flex;
  flex-direction: row;
}
