.card-1 {
  background-image: url(https://images.wallpaperscraft.com/image/single/chip_circuit_processor_140251_300x168.jpg);
}

.card-2 {
  background-image: url(https://lh3.googleusercontent.com/m7mxuNd2lvEROCXUXLjV9mxyy6lc2A0NTxgh7K7KmGuYpO8N2ZhHL7_kbflMbutMNzWzDYs0jOTveCbH92ndNMKlQQ=w640-h400-e365-rj-sc0x00ffffff);
}

.card-3 {
  background-image: url(https://a.cdn-hotels.com/gdcs/production138/d1142/08366677-a8d0-4979-84d5-b54f93ca00e5.jpg?impolicy=fcrop&w=800&h=533&q=medium);
}

.card-4 {
  background-image: url(https://files.nsctotal.com.br/s3fs-public/graphql-upload-files/melhores%20musicas%20de%20heavy%20metal%20black%20sabbath_3.gif?GVJtTGZu0K.mPEm2wwGCAMnOdDzdsov4);
}
