@import url(style-guide/_border-radius.css);
@import url(style-guide/_colors.css);
@import url(style-guide/_font-sizes.css);
@import url(style-guide/_font-weights.css);
@import url(style-guide/_fonts.css);
@import url(style-guide/_typographies.css);

@import url(utils/reset.css);

@import url(components/banner.css);
@import url(components/content.css);
@import url(components/footer.css);
@import url(components/header.css);
@import url(components/card.css);
@import url(components/icon-button.css);
@import url(components/secondary-button.css);
@import url(components/terciary-button.css);
@import url(components/dividers.css);

body,
html,
.root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Basic Layout */

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 80px 1fr 80px;
  grid-template-areas: "banner" "header" "content" "footer";
}
